<h1>Add New Skill</h1>

<form method="POST" action="/skills/skill">
    <label>Skill: </label> <br>
    <input type="text" name="skill" id="skill">

    <br>

    <label>Proficiency: </label> <br>
    <input type="text" name="proficiency" id="proficiency">

    <br>

    <input type="submit" name="Submit">
</form>